{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "printWidth": 85,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "next",
    "",
    "react",
    "",
    "^assets/(.*)$",
    "",
    "^constants/(.*)$",
    "",
    "^store/(.*)$",
    "",
    "^features/(.*)$",
    "",
    "^context/(.*)$",
    "",
    "^ui/(.*)$",
    "",
    "^components/(.*)$",
    "",
    "^@three/(.*)$",
    "",
    "^hooks/(.*)$",
    "",
    "^services/(.*)$",
    "",
    "^models/(.*)$",
    "",
    "^utils/(.*)$",
    "",
    "^[./]"
  ]
}
